@using ValiantApp.ViewModel
@model HomeVM
@{
    ViewData["Title"] = "VALIANT";
}
<section class="bg-dark space-lg" data-jarallax data-speed="0.2">
     <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6 col-lg-5">
                
                    <img width="100%" src="https://res.cloudinary.com/teepublic/image/private/s--eJ-7kuhk--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_auto,h_630,q_90,w_630/v1565322563/production/designs/5554632_0.jpg" />
                
            </div>
        </div>
    </div>
</section>