@using ValiantApp.Data;
@using ValiantApp.ViewModel;
@*@model CreateEventVM*@
@model Event

<div class="navbar-container">
</div>
<div class="main-container">
    <section class="space-sm">
        <div class="container">
            <div class="row mb-5">
            </div>
            <div class="row flex-md-row card card-md">
                <div class="card-body bg-secondary">
                    <div class="text-center mb-5">
                        <h1 class="h2 mb-2">CREATE YOUR OWN EVENT</h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-5">
                            <form method="post" asp-action="Create" enctype="multipart/form-data">
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input asp-for="Name" class="form-control form-control-lg" placeholder="Title" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-Group">
                                    <div class="col">
                                        <input asp-for="Desc" class="form-control form-control-lg" placeholder="Description" />
                                        <span asp-validation-for="Desc" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-row form-Group">
                                    <div class="col">
                                        <select asp-for="EventCategory" asp-items="@Html.GetEnumSelectList<EventCategory>()" class="form-control">
                                            <option>--Select--</option>
                                        </select>
                                        <span asp-validation-for="EventCategory" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-row form-Group">
                                    <div class="col">
                                        <input asp-for="Address.Street" class="form-control form-control-lg" placeholder="Street" />
                                        <span asp-validation-for="Address.Street" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-Group">
                                    <div class="col">
                                        <input asp-for="Address.City" class="form-control form-control-lg" placeholder="City" />
                                        <span asp-validation-for="Address.City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-Group">
                                    <div class="col">
                                        <input asp-for="Image" type="file" class="form-control form-control-lg" placeholder="Image" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-Group">
                                    <div class="col">
                                        <button class="btn btn-block btn-success btn-lg" type="submit">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
